*.iml
.idea
.ipr
.iws
*.diff
*.docz
*.patch
*.bak
iparking
lib
types
es/
dist
coverage/
.DS_Store
node_modules/
.project
.settings
npm-debug.log
.*proj
.svn/
*.swp
*.swo
*.log
yarn-error.log
.vscode
package-lock.json
